body {
  --custom-width: 25rem;
}

#follow-video.pip {
  height: auto;
  max-height: 100%;
  width: var(--custom-width);
}

#appshare-video.pip,
#appshare-video-clone.pip,
#pdf-viewer.pip,
#whiteboard.pip,
#whiteboard-clone.pip {
  max-height: 18.35rem;
  max-width: var(--custom-width);
}
